.btn {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 1000px;
    color: green;
    transition: all 0.4s 
    ease-in-out 0s;
    box-shadow: inset 0 0 20px rgb(187, 187, 187);
}
.btn:hover{
    background: transparent;
    color: darkgreen;
    transform: scale(1.5)rotate(360deg);
    box-shadow: 0 0 60px rgb(0, 88, 0) ;
    cursor: grab;
    border: 2px solid rgb(0, 88, 0);
}